<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>保利抢票</title>
    <link rel="stylesheet" th:href="@{css/elementui.css}">
    <script th:src="@{js/axios.js}"></script>
    <script th:src="@{js/vue2.6.12.js}"></script>
    <script th:src="@{js/websocket.js}"></script>
    <script th:src="@{js/qrcode.min.js}"></script>
    <script src="https://g.alicdn.com/AWSC/AWSC/awsc.js"></script>
    <style>
        html, body {
            padding: 0;
            margin: 0
        }
    </style>
</head>
<body>
<div id="app" style="height:100vh;width:100%;display: flex;justify-content: center;align-items: center;flex-wrap: wrap">
    <div style="width: 100%;padding: 10px;display: flex;justify-content: flex-end" v-if="userModel">
        <el-avatar size="small" :src="userModel.headImg"></el-avatar>
        <el-button size="mini" style="margin-left: 15px" @click="logout">退出登录</el-button>
    </div>
    <div style="width: 700px;display: block">
        <div style="width:100%;display: flex;justify-content: center;align-items: center;margin-bottom: 30px">
            <img style="width:200px;height:200px" alt="" th:src="@{img/logo.svg}"/>
        </div>
        <el-steps style="width: 100%" align-center :active="active" finish-status="success">
            <el-step title="填写登录 1"></el-step>
            <el-step title="选择时间及座位 2"></el-step>
            <el-step title="开始抢票 3"></el-step>
        </el-steps>
        <div style="margin-top:20px;display: flex;align-items: center;justify-content: center">
            <el-form v-show="active===0" size="mini" style="width: 500px" ref="loginForm" :rules="rulesUser"
                     :model="userForm">
                <el-form-item label="电话" prop="phone">
                    <el-input style="width: 100%" size="mini" v-model="userForm.phone" @input="verifyPhone"/>
                </el-form-item>
                <el-form-item v-if="ncModel" label="验证码" prop="phoneCode">
                    <el-input style="width: 100%" size="mini" v-model="userForm.phoneCode">
                        <el-button v-if="!showCountDown" style="padding-right:10px" slot="suffix" @click="getPhoneCheck"
                                   type="text">获取验证码
                        </el-button>
                        <div v-if="showCountDown" style="padding-right:10px" slot="suffix">{{ countDown }}秒后重新获取</div>
                    </el-input>
                </el-form-item>
                <el-form-item style="height: 40px">
                    <div id="nc" style="width: 100%" v-if="checkIf"></div>
                </el-form-item>
                <el-form-item>
                    <el-button size="mini" v-if="showLogin&&checkIf" :loading="loginLoading" @click="login">登录
                    </el-button>
                </el-form-item>
            </el-form>
            <el-form v-show="active===1" size="mini" style="width: 500px" ref="showForm" :model="showForm"
                     :rules="rulesShow">
                <el-form-item label="演出网页地址URL" prop="url">
                    <el-input size="mini" @change="loadShowInfo" style="width: 100%" v-model="showForm.url"
                              placeholder="例如 https://www.polyt.cn/show/465179627075854336/689/20057"></el-input>
                </el-form-item>
                <el-form-item label="演出时间" prop="showId" v-show="showList.length>0">
                    <el-select size="mini" style="width: 100%" v-model="showForm.showId" @change="selectShow">
                        <el-option v-for="item in showList" :key="item.showId" :value="item.showId"
                                   :label="`演出时间：${item.showTime} 开售时间：${item.saleBeginTimeStr}`"></el-option>
                    </el-select>
                </el-form-item>
            </el-form>
            <div v-show="active===2" size="mini" style="width: 500px">
                <el-form inline label-width="90px" style="width: 100%" ref="orderForm" :model="orderForm"
                         :rules="rulesOrder">
                    <el-form-item label="观影人" prop="showWatcher">
                        <el-select size="mini" v-model="orderForm.showWatcher" style="width: 120px">
                            <el-option v-for="item in showUserList" :key="item.id" :value="item.id" :label="item.name"/>
                        </el-select>
                    </el-form-item>
                    <el-form-item label="座位席别" prop="level">
                        <el-select size="mini" v-model="orderForm.level">
                            <el-option v-for="item in seatGradeList" :key="item.priceId" :value="item.priceId"
                                       :label="`${item.price}元 剩余${item.reservedCount}张`">
                                        <span :style="`background:${item.ticketPriceColor};color:#fff`">
                                            {{ `等级${item.priceGradeShow} ${item.price}元 剩余${item.reservedCount}张` }}
                                        </span>
                            </el-option>
                        </el-select>
                    </el-form-item>
                    <el-form-item label="支付方式" prop="payWay">
                        <el-select size="mini" v-model="orderForm.payWay" style="width: 120px">
                            <el-option v-for="t in payList" :key="t.v" :value="t.v" :label="t.l"></el-option>
                        </el-select>
                    </el-form-item>
                    <el-form-item label="重试机制">
                        <el-checkbox v-model="orderForm.autoDownGrade">自动降低座位等级重试</el-checkbox>
                    </el-form-item>
                </el-form>
                <el-form inline label-width="90px" style="width: 100%">
                    <el-form-item>
                        <el-button type="primary" size="mini" v-if="!showOrder" :disabled="clawStatus"
                                   @click="startClaw">开始
                        </el-button>
                        <el-button type="danger" size="mini" v-if="!showOrder" :disabled="!clawStatus"
                                   :loading="clawLoading" @click="stopClaw">停止
                        </el-button>
                        <el-button size="mini" type="success" v-if="showOrder" @click="getPayInfo">付款</el-button>
                        <el-button size="mini" type="warning" v-if="showOrder" @click="cancelOrder">取消订单</el-button>
                    </el-form-item>
                </el-form>
            </div>
        </div>
        <div style="width:100%;display: flex;justify-content: center">
            <el-button @click="prev" size="mini" v-if="active>1">上一步</el-button>
            <el-button @click="next" size="mini" v-if="active<2">下一步</el-button>
        </div>
        <el-table v-if="orderDetail" border style="width: 100%;margin: 10px" size="mini"
                  :data="orderDetail.orderDetailList">
            <el-table-column prop="projectName" align="center" label="商品名称"></el-table-column>
            <el-table-column prop="showSessions" align="center" label="时间"></el-table-column>
            <el-table-column prop="seatName" align="center" label="座位号"></el-table-column>
            <el-table-column prop="price" align="center" label="原价">
                <template slot-scope="scope">
                    <span>¥{{ (parseFloat(scope.row.price)).toFixed(2) }}</span>
                </template>
            </el-table-column>
            <el-table-column prop="salePolicy" align="center" label="销售政策"></el-table-column>
            <el-table-column prop="payPrivilege" align="center" label="优惠金额">
                <template slot-scope="scope">
                    <span>¥{{ (parseFloat(scope.row.payPrivilege)).toFixed(2) }}</span>
                </template>
            </el-table-column>
            <el-table-column prop="paidPrice" align="center" label="实收金额">
                <template slot-scope="scope">
                    <span>¥{{ (parseFloat(scope.row.paidPrice)).toFixed(2) }}</span>
                </template>
            </el-table-column>
        </el-table>
        <el-divider content-position="center">抢票日志</el-divider>
        <el-input type="textarea" v-model="log" :rows="10"/>
    </div>
    <el-dialog v-if="orderPayInfo" title="支付订单" :visible.sync="dialog" center width="20%" @opened="dialogOpen">
        <el-card style="width: 100%;height: 100%">
            <div slot="header" style="display: flex;align-items: center;justify-content: space-between">
                <el-select size="mini" v-model="orderPayInfo.payWayCode" disabled>
                    <el-option v-for="t in payList" :key="t.v" :value="t.v" :label="t.l"></el-option>
                </el-select>
                <el-button icon="el-icon-refresh" size="mini" type="text" @click="getPayInfo"/>
            </div>
            <div style="display: flex;align-items: center;justify-content: center;width: 100%;height: 300px;flex-wrap: wrap;">
                <div style="width: 250px;text-align: center">剩余支付时间{{
                        Number(payInfoRes.totalExpire / 60).toFixed(0)
                    }}分{{ Number(payInfoRes.totalExpire % 60).toFixed(0) }}秒
                    总价{{ payInfoRes.price }}
                </div>
                <div id="qrcode" style="width: 200px;height: 200px"></div>
            </div>
        </el-card>
    </el-dialog>
</div>

<script th:src="@{js/element.js}"></script>
<script type="text/javascript">
    Vue.prototype.$dws = new websocket();
    const vm = new Vue({
        el: '#app',
        data: {
            token: "",
            userForm: {
                phone: "",
                phoneCode: "",
            },
            showForm: {
                url: "",
                showId: null,
            },
            orderForm: {
                getTickName: null,
                showWatcher: null,
                level: null,
                autoDownGrade: false,
                payWay: "06",
            },
            rulesUser: {
                phone: [{required: true, message: '请输入电话号码', trigger: 'blur'}],
                phoneCode: [{required: true, message: '请输入验证码', trigger: 'blur'}],
            },
            rulesShow: {
                url: [{required: true, message: '请输入演出网址', trigger: 'blur'}],
                showId: [{required: true, message: '请选择演出时间', trigger: 'change'}],
            },
            rulesOrder: {
                getTickName: [{required: true, message: '', trigger: 'change'}],
                showWatcher: [{required: true, message: '请选择演出时间', trigger: 'change'}],
                level: [{required: true, message: '请选择演出时间', trigger: 'change'}],
                payWay: [{required: true, message: '请选择支付方式', trigger: 'change'}],
            },
            payList: [{l: "微信支付", v: "06"}, {l: "支付宝支付", v: "05"}],
            active: 0,
            log: '',
            userModel: null,
            projectInfo: null,
            payInfoRes: {
                payQrCode: null,
                totalExpire: 0,
                price: 0,
            },
            orderDetail: null,
            orderPayInfo: null,
            showList: [],
            showUserList: [],
            seatGradeList: [],
            ncModel: null,
            countDown: 60,
            checkPayCount: null,
            showLogin: true,
            checkIf: false,
            showOrder: false,
            showCountDown: false,
            loginLoading: false,
            clawLoading: false,
            clawStatus: false,
            dialog: false,
            service: axios.create({
                baseURL: "http://127.0.0.1:8020/", // url = base url + request url
                withCredentials: true, // send cookies when cross-domain requests
                timeout: 50000, // request timeout
            })
        },
        created() {
            this.init();
            this.$dws.on("msg", (e) => {
                if (e === "抢票停止" || e === "恭喜抢票成功") {
                    this.clawStatus = false;
                    this.clawLoading = false;
                }
                if (e.indexOf("订单$") !== -1) {
                    this.orderPayInfo = JSON.parse(e.split("$")[1])
                    localStorage.setItem("payInfo", e.split("$")[1])
                    this.getPayInfo();
                }
                this.log += `${new Date().toLocaleString()} ${e} \n`;
                if (this.log.length > 5000) {
                    this.log = this.log.substring(4000, this.log.length - 1)
                }
            }, "123");
            this.$dws.connect("ws://127.0.0.1:13245/websocket_stream");
        },
        methods: {
            init() {
                this.getToken();
                this.loadCk(localStorage.getItem("cookies")).then(() => {
                }).finally(() => {
                    if (localStorage.getItem("userModel")) {
                        this.userModel = JSON.parse(localStorage.getItem("userModel"));
                        this.showUserList = this.userModel.watchers;
                        this.showLogin = false;
                        this.nextStep();
                    } else {
                        this.checkUser();
                    }
                })
                if (localStorage.getItem("project")) {
                    this.projectInfo = JSON.parse(localStorage.getItem("project"))
                    this.showForm.url = this.projectInfo.url;
                    this.showList = this.projectInfo.shows;
                }
                if (localStorage.getItem("payInfo")) {
                    this.orderPayInfo = JSON.parse(localStorage.getItem("payInfo"));
                    this.showOrder = true;
                    this.getPayInfo();
                    this.nextStep();
                }
            },
            next() {
                if (this.active === 0) {
                    this.checkUser()
                } else if (this.active === 1) {
                    this.$refs['showForm'].validate((valid) => {
                        if (valid) {
                            this.nextStep();
                        }
                    })
                } else {
                    this.nextStep();
                }
            },
            prev() {
                this.active--;
            },
            nextStep() {
                if (this.active++ > 2) this.active = 0;
            },
            loadCk(ck) {
                return this.service.post("user/loadCookie", null, {params: {ck}})
            },
            getToken() {
                this.service.get("user/getToken").then((resp) => {
                    if (resp.data.status === 200 && resp.data.code === 'OK') {
                        this.token = resp.data.message;
                        window.localStorage.setItem("token", this.token)
                    }
                })
            },
            checkUser() {
                this.service.get("user/checkUser").then((resp) => {
                    if (resp.data.status === 200 && resp.data.code === 'OK') {
                        if (resp.data.message.cookie.length > 1) {
                            this.showUserList = resp.data.message.watchers;
                            this.userModel = resp.data.message;
                            localStorage.setItem("userModel", JSON.stringify(resp.data.message))
                            localStorage.setItem("cookies", this.userModel.cookie.join(";"))
                            this.showLogin = false;
                            this.nextStep();
                        }
                    }
                })
            },
            getPhoneCheck() {
                let dto = {
                    checkModel: JSON.stringify(this.ncModel), code: "", loginFlag: false, phoneArea: "86",
                    phone: this.userForm.phone, phoneCode: ""
                }
                this.service.post("user/sendPhone", dto).then((resp) => {
                    if (resp.data.status === 200 && resp.data.code === 'OK') {
                        this.showCountDown = true;
                        this.countDownCode();
                    }
                })
            },
            countDownCode() {
                this.intVal = setInterval(() => {
                    this.countDown--;
                    if (this.countDown === 0) {
                        clearInterval(this.intVal);
                        this.showCountDown = false;
                    }
                }, 1000)
            },
            login() {
                this.$refs['loginForm'].validate((valid) => {
                    if (valid) {
                        this.loginLoading = true
                        let dto = {
                            checkModel: JSON.stringify(this.ncModel), code: "", loginFlag: false, phoneArea: "86",
                            phone: this.userForm.phone, phoneCode: this.userForm.phoneCode
                        }
                        this.service.post("user/login", dto).then((resp) => {
                            this.showLogin = !(resp.data.status === 200 && resp.data.code === 'OK');
                            this.loginLoading = false;
                        }).catch(() => {
                            this.showLogin = true;
                            this.loginLoading = false;
                        })
                    }
                });
            },
            logout() {
                this.service.put("user/logout").then((resp) => {
                    if (resp.data.status === 200 && resp.data.code === 'OK') {
                        localStorage.removeItem("userModel")
                        localStorage.removeItem("cookies")
                        this.showLogin = true;
                    }
                    this.loginLoading = false;
                    location.reload();
                }).catch(() => {
                    this.showLogin = true;
                    this.loginLoading = false;
                    location.reload();
                })
            },
            loadShowInfo() {
                if (this.showForm.url && this.showForm.url !== "") {
                    this.resetShowForm()
                    this.service.get("project/projectInfo", {params: {url: this.showForm.url}}).then((resp) => {
                        if (resp.data.status === 200 && resp.data.code === 'OK') {
                            this.projectInfo = resp.data.message;
                            localStorage.setItem("project", JSON.stringify(resp.data.message));
                            this.showList = this.projectInfo.shows;
                        }
                    })
                }
            },
            getPayInfo() {
                if (this.checkPayCount) {
                    clearInterval(this.checkPayCount)
                }
                this.service.post("project/getPay", this.orderPayInfo).then((resp) => {
                    if (resp.data.status === 200 && resp.data.code === 'OK') {
                        let pay = JSON.parse(resp.data.message)
                        this.payInfoRes.payQrCode = pay.qrCode
                        this.payInfoRes.totalExpire = pay.between
                        this.payInfoRes.price = pay.salesOrderAmt
                        this.showOrder = true;
                        this.dialog = true;
                        this.checkPayCount = setInterval(() => {
                            this.checkPay()
                            this.payInfoRes.totalExpire--;
                            this.log += "付款等待中...\n"
                        }, 1000);
                    }
                })
            },
            dialogOpen() {
                new QRCode(document.getElementById("qrcode"), {
                    text: this.payInfoRes.payQrCode,
                    width: 200,
                    height: 200,
                })
            },
            checkPay() {
                if (!this.dialog) {
                    clearInterval(this.checkPayCount)
                }
                this.service.post("project/checkPay/" + this.orderPayInfo.orderId).then((resp) => {
                    if (resp.data.status === 200 && resp.data.message === 'success') {
                        clearInterval(this.checkPayCount)
                        this.showOrder = false;
                        this.dialog = false;
                        localStorage.removeItem("payInfo");
                        this.$message({
                            type: 'success',
                            message: '订单支付成功'
                        });
                        this.getPayComplete();
                    }
                })
            },
            getPayComplete() {
                this.service.post("project/getPayComplete/" + this.orderPayInfo.orderId).then((resp) => {
                    if (resp.data.status === 200 && resp.data.message === 'success') {
                        this.orderDetail = resp.data.message;
                    }
                })
            },
            cancelOrder() {
                this.$confirm('取消订单, 是否继续?', '提示', {
                    confirmButtonText: '确定',
                    cancelButtonText: '取消',
                    type: 'warning'
                }).then(() => {
                    this.service.delete("project/cancelOrder/" + this.orderPayInfo.orderId).then((resp) => {
                        if (resp.data.status === 200 && resp.data.message === 'success') {
                            clearInterval(this.checkPayCount)
                            this.showOrder = false;
                            this.dialog = false;
                            localStorage.removeItem("payInfo")
                            this.$message({
                                type: 'success',
                                message: '已取消订单'
                            });
                        } else {
                            this.$message({
                                type: 'error',
                                message: '取消订单失败'
                            });
                        }
                    })
                }).catch(() => {
                    this.$message({
                        type: 'info',
                        message: '已取消'
                    });
                })
            },
            selectShow(e) {
                this.seatGradeList = [];
                for (let i = 0; i < this.showList.length; i++) {
                    if (this.showList[i].showId === e) {
                        this.seatGradeList = this.showList[i].ticketPriceList
                    }
                }
            },
            startClaw() {
                this.$refs['orderForm'].validate((valid) => {
                    if (valid) {
                        this.showOrder = false;
                        for (let i = 0; i < this.showUserList.length; i++) {
                            if (this.showUserList[i].id === this.orderForm.showWatcher) {
                                this.orderForm.getTickName = this.showUserList[i].name
                                break;
                            }
                        }
                        this.orderForm.showId = this.showForm.showId;
                        this.orderForm.projectInfo = JSON.stringify(this.projectInfo);
                        this.service.post("project/startClaw", this.orderForm).then((resp) => {
                            this.clawStatus = resp.data.status === 200 && resp.data.code === 'OK';
                        })
                    }
                })
            },
            stopClaw() {
                this.clawLoading = true;
                this.service.put("project/stopClaw").then((resp) => {
                    if (resp.data.status === 200 && resp.data.code === 'OK') {
                        this.clawLoading = false;
                        this.clawStatus = false;
                    }
                }).catch(() => {
                    this.clawLoading = false;
                })
            },
            resetShowForm() {
                this.showList = [];
                this.seatGradeList = [];
                this.showForm.level = null;
                this.showForm.showId = null
            },
            verifyPhone(e) {
                let list = []
                let result = true
                let msg = ''
                var isPhone = /^1\d{10}$/
                if (e != null && e !== "") {
                    if (!isPhone.test(e)) {
                        msg = '手机号码格式不正确'
                    } else {
                        result = false
                    }
                } else {
                    msg = '手机号码不能为空'
                }
                list.push(result)
                list.push(msg)
                this.checkIf = !list[0];
                if (this.checkIf) {
                    this.$nextTick(() => {
                        this.initNc()
                    })
                } else {
                    this.ncModel = null
                }
            },
            initNc() {
                let thisCallback = this
                AWSC.use("nc", function (state, module) {
                    window.nc = module.init({
                        appkey: 'FFFF0N00000000009D3A', scene: 'nc_login_h5', renderTo: 'nc',
                        success: (data) => {
                            thisCallback.ncModel = data
                        },
                        fail: (failCode) => {
                            console.log('fail', failCode)
                        },
                        error: (errorCode) => {
                            console.log('error', errorCode)
                        }
                    });
                })
            }
        },
        beforeDestroy() {
            this.$dws.un("msg", "123")
            this.$dws.close();
        }
    });
</script>
</body>
</html>